/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff9b0f;
  --ifm-color-primary-dark: #f38e00;
  --ifm-color-primary-darker: #e68600;
  --ifm-color-primary-darkest: #bd6e00;
  --ifm-color-primary-light: #ffa62a;
  --ifm-color-primary-lighter: #ffac38;
  --ifm-color-primary-lightest: #ffbd60;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff9b0f;
  --ifm-color-primary-dark: #f38e00;
  --ifm-color-primary-darker: #e68600;
  --ifm-color-primary-darkest: #bd6e00;
  --ifm-color-primary-light: #ffa62a;
  --ifm-color-primary-lighter: #ffac38;
  --ifm-color-primary-lightest: #ffbd60;
  --ifm-background-color: #161618;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
